{{#each model.data.children itemController="entry"}}
  <div class="media" >
    <div class="pull-left">
      {{data.score}}
    </div>
    {{#if validThumbnailUrl}}
      <a class="pull-left" {{bind-attr href=data.url}}>
        <img class="media-object" {{bind-attr src=data.thumbnail}}>
      </a>
    {{/if}}
    <div class="media-body">
      <a {{bind-attr href=data.url}}>
        <h4 class="media-heading">{{data.title}}</h4>
      </a>
    </div>
  </div>
{{/each}}

